.rabe-title-font,
.rabe-datacard-title,
.v-application .headline, .v-application .title {
  font-family: 'Fjalla One', sans-serif !important;
}

.rabe-title-font {
  font-size: 2.25rem;
  text-transform: capitalize;
}

.navigation-vogu {
  background-image: url("/assets/vogu.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
